@import "./variable.module.scss";

.table_save {
  background-image: url(../assets/image/save.png);
  @include fixButton;
}

.table_save:hover,
.table_edit:hover,
.table_delete:hover,
.table_close:hover {
  height: 68px;
  width: 68px;
}

.table_save:focus,
.table_edit:focus,
.table_delete:focus,
.table_close:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgb(117, 179, 218);
}

.table_edit {
  background-image: url(../assets/image/edit.png);
  @include fixButton;
}

.table_delete {
  background-image: url(../assets/image/delete.png);
  @include fixButton;
}

.table_close {
  background-image: url(../assets/image/close.png);
  @include fixButton;
}

.table_buttons {
  display: flex;
  width: 18vw;
  justify-content: flex-end;
  align-items: center;
  column-gap: 2rem;
}
