@import "./variable.module.scss";

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-family: "Merriweather", serif;
  font-size: 1.2em;
  line-height: 160%;
  @include fixColor;
  margin: 0% 20% 1% 20%;
  padding: 2% 4% 4% 4%;
  row-gap: 2rem;
  border-radius: 15%;
}

.container__onecard {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 1% 15% 1% 15%;
}

.card-answer {
  height: 65px;
  width: 15vw;
  border-radius: 5%;
  text-align: center;
  font-family: "Merriweather", serif;
  font-size: 1.1em;
  border: 0px solid rgb(255, 255, 255);
  background: linear-gradient(rgb(80, 188, 177), 20%, rgb(255, 255, 255));
  color: rgb(28, 92, 194);
  cursor: pointer;
}

.card-counter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0% 15% 0% 15%;
  font-family: "Merriweather", serif;
  font-size: 1.5em;
  color: rgb(28, 92, 194);
}
