@import "./variable.module.scss";

header {
  position: sticky;
  top: 0px;
  z-index: 1;
}

.App__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 1.5rem;
  height: 12vh;
  margin: 2% 5% 5% 5%;
  padding: 1% 2%;
  border-radius: 1%;
  @include fixColor;

  h1 {
    color: rgb(255, 255, 255);
    font-family: "Merriweather", serif;
  }

  button:hover {
    height: 70px;
    width: 70px;
    box-shadow: 10%;
  }
}

.App__header__game {
  background-image: url(../assets/image/start.png);
  @include fixButton;
  //margin-left: 4vw;
}

.App__header__home {
  background-image: url(../assets/image/home.png);
  @include fixButton;
  margin-left: 2vw;
}

.App__header__buttons {
  display: flex;
  justify-content: space-between;
}
