@import "../../style/variable.module.scss";

.container {
  margin: 5%;
}

.table {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2%;
  text-align: center;
  font-family: "Merriweather", serif;
  font-size: 1.2em;
  line-height: 160%;
  @include fixColor;
}

.container__cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 5%;
}

.table_input {
  height: 4vh;
}

.table_input--error {
  border: 2px solid red;
  height: 4vh;
}

.disabled {
  border: 1px solid #999999;
  //opacity: 10%;
}
