@import "../../style/variable.module.scss";

.container {
  margin: 5%;
}

.table {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2%;
  text-align: center;
  font-family: "Merriweather", serif;
  font-size: 1.2em;
  line-height: 160%;
  @include fixColor;
}

.container__cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 5%;
}
.table-number {
  margin-left: 5%;
}

.table-input {
  max-width: 10%;
  min-height: 3vh;
  border-radius: 5%;
  padding: 0.2% 0.5%;
  border: #999999;
  text-align: center;
}

.table-input:active,
.table-input:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgb(80, 188, 177);
}

.table_input--error {
  border: 2px solid red;
  height: 4vh;
}

.disabled {
  border: 1px solid #999999;
  //opacity: 10%;
}

.form-input {
  max-width: 10%;
  min-height: 3vh;
  border-radius: 5%;
  padding: 0.2% 0.5%;
  border: #999999;
  text-align: center;
}

.form-input:active,
.form-input:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgb(80, 188, 177);
}
