@import './mixin.scss';

.App__header{
    margin: 5%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 1.5rem;
    padding: 1% 2%;
    @include fixColor;

    h1 {color: rgb(255, 255, 255);
        font-family: "Merriweather", serif;
    }

    button{
        background-image: url(../assets/image/start.png);
        @include fixButton;
        margin-left: 33vw;
    }
}

