@import "../../style/variable.module.scss";

header {
  position: sticky;
  top: 0px;
  z-index: 1;
}

.App__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 1.5rem;
  height: 12vh;
  margin: 0% 5% 1% 5%;
  padding: 1% 2%;
  border-radius: 1%;
  @include fixColor;

  h1 {
    color: rgb(255, 255, 255);
    font-size: 4vw;
    font-family: "Merriweather", serif;
  }

  button:hover,
  button:active {
    //height: 70px;
    //width: 70px;
    box-shadow: 10%;
  }

  button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgb(117, 179, 218);
  }
}

.App__header__game {
  background-image: url(../../assets/image/start.png);
  @include fixButton;
}

.App__header__home {
  background-image: url(../../assets/image/home.png);
  @include fixButton;
  margin-left: 2vw;
}

.App__header__buttons {
  display: flex;
  justify-content: space-between;
}
