.cardlearn {
  display: flex;
  //justify-content: center;
  align-items: center;
  //text-align: start;
  margin-left: 8%;
  font-family: "Merriweather", serif;
  font-size: 1.4em;
  line-height: 160%;
  color: rgb(28, 92, 194);
}
